# this is the root .env and should always be committed. It lists every configurable envvar, with defaults useful for
# local development. Some of these need to be overridden in a higher-precedence .env file when deploying to a live
# environment - like `.env.production`.

JUMP_DB_PATH=db/jump.db

# if set to true, pgx will log traces to stdout
JUMP_DB_TRACE_LOG=false

# determines the minimum level required for a log to be output by slog
# valid values are Debug, Info, Warn, and Error
JUMP_SLOG_LEVEL=Debug

# set the type of handler used by slog
# valid values are Text and JSON
JUMP_SLOG_MODE=Text

# Configures the address the http listener binds to
# 
# This is configured in fly as 8001 instead of 8000, because litefs binds to 8000
JUMP_HTTP_ADDRESS=localhost:8000

# various envvars used for configuring HTTP logging
JUMP_HTTPLOG_MODE=Text
JUMP_HTTPLOG_LEVEL=Debug
JUMP_HTTPLOG_CONCISE=true
JUMP_HTTPLOG_REQUEST_HEADERS=Origin
JUMP_HTTPLOG_RESPONSE_HEADERS=
JUMP_HTTPLOG_REQUEST_BODIES=true
JUMP_HTTPLOG_RESPONSE_BODIES=true

# this is the encryption secret used when signing the session JWT. This value may
# only be used during testing. The production signing secret is not saved in a .env
# variable and may be invalidated at any time.
#
# This is configured in fly as a secret
JUMP_SESSION_TOKEN_SECRET

# realm and callback url for openid, these should point to the frontend
JUMP_OID_REALM=http://localhost:3000
JUMP_OID_CALLBACK_URL=http://localhost:3000


# steam API key used to make profile requests.
# 
# This is configured in fly as a secret
 JUMP_STEAM_API_KEY=
