PUBLIC_JUMP_API_URL=http://localhost:8000
PUBLIC_JUMP_API_OID_URL=http://localhost:3000/steam/discover
PUBLIC_JUMP_WEB_URL=http://localhost:3000
PUBLIC_JUMP_IMAGES_URL=https://dark-sunset-6605.t3.tigrisbucket.io
PORT=3000
# when true, sets session cookies to be Secure - requiring HTTPS for transmission.
# keep this false when testing locally or in an environment without HTTPS setup.
PUBLIC_JUMP_SESSION_COOKIE_SECURE=false