node_modules
build
.svelte-kit

# macos funny
.DS_Store
Thumbs.db

# all dotenv files are ignored, except for a few which are MUST NOT contain secrets/credentials
.env.*
!.env.example
!.env.*.example
!.env.development
!.env.test
!.env.production

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
